[core]
    editor = nvim
    pager = delta
    autocrlf = input

[user]
    name = sshimanski
    email = sshimanski@redcapcloud.com

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    navigate = true  # use n and N to move between diff sections
    syntax-theme = gruvbox-dark
    side-by-side = true
    line-numbers = true
    line-numbers-left-format = "{nm:^4}"
    line-numbers-right-format = "{np:^4}"
    hunk-header-decoration-style = omit
    file-decoration-style = omit

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[alias]
    parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
