" !!!!! CTRL+SPACE (2 times) - complete static methods!
" !!!!! CTRL+ALT+SHIFT+INSERT - scratch file to experiments
" !!!!! Ctrl+Shift+F7   - show where exception get caused

set laststatus=2
set hlsearch
set ignorecase
set incsearch
set showcmd
set showmode
set smartcase
" set rnu
set nu
set NERDTree
set ideajoin

let mapleader=","
nnoremap ' `
nnoremap ` '

" Enable vim-surround
set surround
" Enable vim-commentary
set commentary
" Enable vim-easymotion (AceJump plugin required)
set easymotion
" Enable exchange
set exchange
" Enable smart join
set ideajoin
" Enable highliting yanked text
set highlightedyank

nnoremap <Space> <nop>
nnoremap <leader>ev :e ~/.ideavimrc<CR>
nnoremap <leader>sv :source ~/.ideavimrc<CR>

map <leader>y "+y
map <leader>Y "+yg_
map <leader>p "*p
map <leader>P a<space><esc>p

noremap Y yg_
nnoremap n nzzzv
nnoremap N Nzzzv
" nnoremap gd gdzz
nnoremap vv ggVG

vnoremap < <gv
vnoremap > >gv

" unimpaired legacy
noremap ]m :action MethodDown<CR>
noremap [m :action MethodUp<CR>
noremap ]l :action GotoNextError<CR>:action ShowErrorDescription<CR>
noremap [l :action GotoPreviousError<CR>:action ShowErrorDescription<CR>

noremap [b gt
noremap ]b gt

" camelcase words: ] - forward, [ - backward
noremap [w [b
noremap ]w [w
noremap [c :action VcsShowPrevChangeMarker<CR>:action Vcs.ShowDiffWithLocal<CR>
noremap ]c :action VcsShowNextChangeMarker<CR>:action Vcs.ShowDiffWithLocal<CR>
nnoremap [<Space> O<ESC>j 0 w
nnoremap ]<Space> o<ESC>k 0 w

nnoremap yoh :nohlsearch<CR>
nnoremap yob :action ToggleLineBreakpoint<CR>
nnoremap yop :action TogglePresentationMode<CR>
nnoremap yow :action EditorToggleShowWhitespaces<CR>

xnoremap <C-S-o> :action OverrideMethods<CR>
xnoremap <C-S-i> :action ImplementMethods<CR>
noremap <C-S-j> :action NextIdentifierReloaded<CR>
noremap <C-S-k> :action PreviousIdentifierReloaded<CR>
noremap <C-S-h> :action MoveElementLeft<CR>
noremap <C-S-l> :action MoveElementRight<CR>

inoremap <C-k> <C-O>:action ParameterInfo<CR>

" hr = hunk reset
nnoremap <leader>hr :action Vcs.RollbackChangedLines<CR>

" nvim: Telescope
" noremap <leader>la :action QuickActions<CR>
noremap <leader>la :action Refactorings.QuickListPopupAction<CR>
noremap <leader>lb :action RecentFiles<CR>
noremap <leader>lf :action GotoClass<CR>
noremap <leader>ld :action GotoFile<CR>
noremap <leader>lp :action ManageRecentProjects<CR>
noremap <leader>lr :action RecentChangedFiles<CR>
noremap <leader>ls :action FileStructurePopup<CR>
noremap <leader>lm :action ShowBookmarks<CR>
noremap <leader>lw :action GotoClas<CR>

"""""""""" Refactor.
" refactor: format
noremap <leader>rf :action ReformatCode<CR><Bar>:action AutoIndentLines<Bar>:action OptimizeImports<CR>
vnoremap <leader>rf :action ReformatCode<Bar>:action AutoIndentLines<Bar><CR>
" refactor: inline
noremap <leader>ri :action Inline<CR>
" refactor: rename
noremap <leader>rr :action RenameElement<CR>
"""""""""" Refactor. End.

"""""""""" Find.
" fp = find project
noremap <leader>fp :action FindInPath<CR>
" fw = find word
noremap <leader>fw viw:action FindInPath<CR>
"""""""""" Find. End.

noremap <leader><leader>l :action AceLineIndentsAction<CR>
noremap <leader><leader>w :action AceWordStartAction<CR>
noremap <leader><leader>c :action AceTargetAction<CR>

nmap gm :action ToggleBookmark<CR>
nmap gn :action GotoNextBookmark<CR>
nmap gp :action GotoPreviousBookmark<CR>

" maximize working area
noremap <C--> :action HideAllWindows<CR>

" Mnemonic: 'to'
nnoremap <leader>tt :action GotoTypeDeclaration<CR>
nnoremap <leader>ti :action GotoImplementation<CR>
nnoremap <leader>tu :action ShowUsages<CR>
nnoremap <leader>tU :action FindUsages<CR>
nnoremap <leader>ts :action GotoSuperMethod<CR>

nnoremap tt :action GotoTest<CR>

" to 'class'
nnoremap [[ gg<BAR>:action MethodDown<CR><BAR>zt

" native back/forward is more predictable
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

noremap <leader>N :action NewElement<CR>

" Mnemonic 'extract'
nnoremap <leader>em :action ExtractMethod<CR>
vnoremap <leader>em :action ExtractMethod<CR>
noremap <leader>ec :action ExtractClass<CR>
" Mnemonic 'introduce'
noremap <leader>ic :action IntroduceConstant<CR>
noremap <leader>if :action IntroduceField<CR>
noremap <leader>ip :action IntroduceParameter<CR>
noremap <leader>iv :action IntroduceVariable<CR>

" Git
"noremap <leader>gg: action Git.FileActions<CR>
noremap <leader>ga :action Annotate<CR>
noremap <leader>gb :action Git.Branches<CR>
noremap <leader>gg :action Git.Menu<CR>
noremap <leader>gh :action ActivateVersionControlToolWindow<CR>
noremap <leader>gl :action Vcs.Show.Log<CR>
noremap <leader>gu :action Vcs.UpdateProject<CR>

" Common
noremap <leader>c :action CheckinProject<CR>
" overridden by <leader>hr
" noremap <leader>h :action TypeHierarchy<CR>
" noremap <leader>h :action HighlightUsagesInFile<CR>
noremap <leader>u :action ShowUmlDiagramPopup<CR>
noremap <leader>k :q<CR>
noremap <leader>m :action Move<CR>
noremap <leader>G :action Generate<CR>
vnoremap <leader>s :action SurroundWithLiveTemplate<CR>

noremap \t :action ChooseDebugConfiguration<CR>
noremap \d :action ChooseDebugConfiguration<CR>
noremap \r :action ChooseRunConfiguration<CR>
noremap \s :action Stop<CR>
