set ignorecase
set smartcase
set incsearch
set showmode
set showcmd
set hlsearch
set novisualbell

nnoremap ,ev :e ~/.ideavimrc<CR>
nnoremap ,sv :source ~/.ideavimrc<CR>

map ,y "+y
map ,p "*p
noremap Y y$
nnoremap ' `
nnoremap ` '

inoremap jj <Esc> 
inoremap kk <Esc>

nnoremap n nzz
nnoremap N Nzz

vnoremap < <gv
vnoremap > >gv

noremap ]m :action MethodDown<CR>zz
noremap [m :action MethodUp<CR>zz

noremap <S-A-j> :action MoveStatementDown<CR>
noremap <S-A-k> :action MoveStatementUp<CR>
noremap <C-S-o> :action OverrideMethods<CR>
noremap <C-S-i> :action ImplementMethods<CR>
noremap <C-S-h> gT
noremap <C-S-l> gt

nnoremap ,nd :action NewDir<CR>
nnoremap ,nc :action NewClass<CR>

" nerd commenter?
"nnoremap ,cl :action CommentByLineComment<CR>
"nnoremap ,cb :action CommentByBlockComment<CR>

" emulate unite.vim
"noremap <Space>b :action TabList<CR>
noremap <Space>m :action RecentFiles<CR>
noremap <Space>c :action GotoClass<CR>
noremap <Space>f :action GotoFile<CR>
noremap <Space>g :action FindInPath<CR>
" unite outline
noremap <Space>o :action FileStructurePopup<CR>
noremap <Space>u :action FindUsages<CR>

" Goto. Mnemonic: 'to'
nnoremap ts :action GotoSuperMethod<CR>
nnoremap tt :action GotoTest<CR>
nnoremap td :action GotoTypeDeclaration<CR>
nnoremap tu :action ShowUsages<CR>
nnoremap ti :action GotoImplementation<CR>

" Experemental
"noremap <C-j> <C-W>j
"noremap <C-k> <C-W>k
"noremap <C-l> <C-W>l
"noremap <C-h> <C-W>h
"noremap / :action Find<CR>
"noremap n :action FindNext<CR>
"noremap N :action FindPrevious<CR>

noremap va ggVG
"
" native back/forward is less buggy
noremap <C-o> :action Back<CR>
noremap <C-i> :action Forward<CR>

noremap ,b :action ToggleLineBreakpoint<CR>
noremap ,r :action RenameElement<CR>
nnoremap ,c :action CheckinProject<CR>
noremap ,v <C-w>v
noremap ,h <C-w>s
noremap ,k :q<CR>
noremap ,nh :nohlsearch<CR>
noremap ,, :action HideAllWindows<CR>
