rofi.opacity:                       80
rofi.padding:                       250
rofi.separator-style:               none
rofi.fullscreen:                    true
rofi.hide-scrollbar:                true

!normal Normal row.
!urgent Highlighted row (urgent)
!active Highlighted row (active)
!
!For each state the following 5 colors must be set:
!
!bg     Background color row
!fg     Text color
!bgalt  Background color alternating row
!hlfg   Foreground color selected row
!hlbg   Background color selected row
!
rofi.color-enabled:                 true
! State:                            'bg',          'fg',    'bgalt',        'hlbg',        'hlfg'
rofi.color-normal:                  argb:00000000, #f3f4f5, argb:00000000,  argb:ee444649, #f3f4f5
rofi.color-active:                  argb:00000000, #00ff00, argb:eeff0000,  argb:ee444649, #00ff00
rofi.color-urgent:                  argb:00000000, #c44441, argb:ee2f343f,  argb:ee444649, #c44441

! State:                            'bg',          'border', 'separator'
rofi.color-window:                  argb:ee2f343f, #002b36,  argb:00000000


!arc-theme darker colors
!$bg-color               #2f343f
!$inactive-bg-color      #2f343f
!$text-color             #f3f4f5
!$inactive-text-color    #676e7d
!$urgent-bg-color        #C44441
!$unused                 #676E7D
