! Base16 Tomorrow Night

! Enable the extended coloring options
rofi.color-enabled:                 true
rofi.padding:                       250
rofi.separator-style:               none
rofi.fullscreen:                    true
rofi.hide-scrollbar:                true

! Property Name     BG             Border
rofi.color-window:  argb:ce282a2e, argb:ce282a2e

! Property Name     BG             FG       BG-alt         Head-BG        Head-FG
rofi.color-normal:  argb:00282a2e, #c5c8c6, argb:00282a2e, argb:00282a2e, #ffffff
rofi.color-active:  argb:00282a2e, #81a2be, argb:00282a2e, argb:00282a2e, #81a2be
rofi.color-urgent:  argb:00282a2e, #cc6666, argb:00282a2e, argb:00282a2e, #cc6666
