URxvt.transparent:      true
URxvt.shading:          30

URxvt.scrollBar:        false

URxvt.font:             xft:DejaVu Sans Mono\ for\ Powerline:size=10
URxvt.letterSpace:      -1

URxvt*termName:         rxvt-256color
URxvt*xftAntialias:     true

URxvt.perl-lib:         /home/shim/.config/urxvt/ext/
URxvt.perl-ext-common:  default,matcher,selection-to-clipboard,keyboard-select

URxvt.matcher.button:   1
URxvt.keysym.M-Escape:  perl:keyboard-select:activate
URxvt.keysym.M-s:       perl:keyboard-select:search
URxvt*iso14755:         false 
URxvt*iso14755_52:      false
